@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?telbhb');
  src:  url('fonts/icomoon.eot?telbhb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?telbhb') format('truetype'),
    url('fonts/icomoon.woff?telbhb') format('woff'),
    url('fonts/icomoon.svg?telbhb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
